# AlphaClone System OS - GRUB Configuration
# Purpose: Boot the AlphaClone kernel produced by the build pipeline.
# Author: AlphaClone Systems Core Team
# License: MIT
# TODO: Detect multiple kernel versions and add recovery entries.

set default=0
set timeout=5

menuentry "AlphaClone System OS" {
    multiboot /boot/kernel.bin
    boot
}
